# Python environment
.venv/
venv/

#models folder
models/*
!models/.gitkeep

#data folder
data/cicids2017/*
data/nslkdd/*
!data/cicids2017/.gitkeep
!data/nslkdd/.gitkeep


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Local/temporary folders
mnt/


# PyCharm settings
.idea/